/* .dropdown-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.dropdown-head{
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  background: #1d1e21;
  color: #fff;
  border: 2px solid #56d4ff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  padding: 5px 0 7px;
}
.dropdown-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  visibility: hidden;
  position: absolute;
  bottom: 0;
}
.visible{
  visibility: visible;
}
.dropdown-item{
  padding: 10px;
} */


.dropdown-container{
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.pools-dropdown{
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  background: #1d1e21;
  color: #fff;
  border: 2px solid #56d4ff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  padding: 5px 0 7px;
  justify-content: space-around;
}
.menu-container{
  position: relative;
  text-align: center;
}
.menu{
  position: absolute;
  text-align: center;
  z-index: 10;
  visibility: hidden;
  width: 150px;
  top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}
.active-dropdown{
  visibility: visible;
}
.dropdown-item{
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  background: #1d1e21;
  padding: 5px;
  width: 100%;
  color: #82d2f8;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}
.dropdown-item:hover{
  background: #82d2f8;
  color: #000000;
}