.dropdown-container{
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.menu-container{
  position: relative;
  text-align: center;
  width: 130px;
}
.pools-dropdown{
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  background: #1d1e21;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0 7px;
  justify-content: space-around;
}
.menu{
  position: absolute;
  text-align: center;
  z-index: 10;
  visibility: hidden;
  width: 100%;
  top: 38px;
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}
.active-dropdown{
  visibility: visible;
}
.dropdown-item-cus{
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  background: #1d1e21;
  padding: 5px;
  width: 100%;
  color: #f8f9fa;
  text-decoration: none;
  justify-content: center;
  transition: ease-in-out 0.2s;
}
.dropdown-item-cus:hover{
  background: #f8f9fa;
  color: #000000;
}